<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="libs/angular/angular.js"></script>
    <script src="js/controllers/gridController.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="myGridController">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1> {{ myWord }} </h1>
  </body>
</html>
